@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* shared styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

.btn-primary{
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    padding: 16px 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-weight: 700;
    justify-content: center;
}

/* header section */

header{
    width: 80%;
    height: auto;
    margin: auto;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title .siteName{
    font-size: 2.25rem;
    font-weight: 800;
}

.title .siteName span{
    color: #FF5400;
}

.hamburgerMenu{
    display: none;
}


/* manus */

.menu{
    display: flex;
    gap: 40px;
}

.menu li{
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    text-align: center;
    color: #424247;
    margin: 10px;
    transition: all 0.2s linear;
}

.menu li a:hover{
    color: #FF5400;
    font-weight: 700;
}


/* banner section */

.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 500px;
    position: absolute;
}

.overlay{
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
    position: absolute;
    z-index: 1;
}

.banner-content{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-content>p{
    color: #FFF;
    line-height: 26px;
    text-align: center;
    max-width: 700px;
    padding: 24px 0;
}

/* bookings div */

.bookings{
    background: rgba(255, 255, 255, 0.30); 
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}

.bookings input, .bookings select{
    box-sizing: border-box;
    width: 174px;
    height: 52px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    border-radius: 8px;
}

/* main section */

main{
    width: 80%;
    margin: 600px auto 100px auto;
}

.blog-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-content{
    width: 40%;
}

.blog-content h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.blog-content p{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.70);
    padding: 24px 0;
}

.blog-content li{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.70);
}

.blog-content ul{
    padding-left: 20px;
}

/* destination section */

.destination-container{
    text-align: center;
    margin: 100px auto;
}

.destination-container h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-container p{
    color: rgba(19, 19, 24, 0.70);
    padding: 24px 0;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 24px 0;
}

.image-grid .row1, .image-grid .row2, .image-grid .row3{
    display: flex;
    gap: 24px;
}

.image-grid span{
    position: relative;
}

.row1 span>p, .row2 span>p, .row3 span>p{
    position: absolute;
    z-index: 3;
    top: 40%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    right: 40%;
}

.row2 span>p{
    right: 30%
}

.row3 span>p{
    right: 35%;
}

/* testimonial section */

.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.testimonial-content h1{
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
    text-align: center;
}

.testimonial-content p{
    width: 600px;
    text-align: center;
    line-height: 26px;
}

.testimonial{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.tm-container{
    width: 570px;
    height: 280px;
    padding: 32px 55px 32px 32px;
}

.tm-container:first-child{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.tm-container:nth-child(2){
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);   
}

.tm-container:nth-child(3){
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.tm-container img{
    padding: 16px 0;
}

.tm-container h2{
    color: #131318;
    padding: 16px 0;
    font-size: 1.5rem;
}

.tm-container p{
    color: #5A5A5D;
    line-height: 26px;
}

/* package-section */

.package-container{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.package-content h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.package-content p{
    color: rgba(19, 19, 24, 0.70);
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 24px 0;
}

/* cards */

.package-cards{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.card{
    margin: auto;
    position: relative;
}

.card img{
    width: 100%;
}

.card .package-details{
    position: absolute;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    right: 5%;
    top: 15%;
    width: 570px;
    height: auto;
    padding: 50px;
}

.left{
    left: 5%;
}

.card .package-details div {
    display: flex;
    gap: 24px;
}
.card .package-details div i{
    padding-right: 8px;
}

.card .package-details div span i{
    color: #FF5400;
}

.card .package-details div span{
    color: #5A5A5D;
}

.card .package-details h1{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 20px 0;
}

.card .package-details  .budget{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 16px 0;
}

.card .package-details p{
    color: #5A5A5D;
    line-height: 26px;
}

.show-more{
    margin: auto;
}

/* video section */

.video-container{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-content{
    width: 40%;
}

.video-content h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.video-content p{
    color: #5A5A5D;
    line-height: 26px;
    padding-top: 20px;
}

.video-content ul{
    font-weight: 700;
    color: #131318;
    line-height: 26px;
    padding: 24px 0 24px 20px;

}

.video-container iframe{
    border-radius: 8px;
}

/* newsletter section */

.newsletter-container{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    margin: 100px 0;
}

.newsletter-form h4{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}

.newsletter-form{
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 42px;
    height: 424px;
}

.newsletter-form p{
    line-height: 26px;
    padding: 24px 0;
}

.newsletter-form hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-form form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
}

.newsletter-form form input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 390px;
    height: 50px;
    box-sizing: border-box;
    padding: 20px;
    border: none;
}
.newsletter-container .image{
    position: relative;
}
.newsletter-container image img{
    position: absolute;
}

.newsletter-container .tagged-card{
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    padding: 16px;
    width: fit-content;
    text-align: center;
    color: #FFF;
    bottom: 15%;
    right: 1%;
    transform: rotate(-40deg);
}

/* bonus section */

/* team */

.team-container>h1{
    font-size: 2.5rem;
    font-weight: 800;
    padding: 24px;
    text-align: center;
}

.team-members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: auto;
    background: rgba(223, 223, 223, 0.8);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.team-card:hover{
    background: rgba(197, 214, 252, 0.8);
}

.team-card img{
    border-radius: 50%;
}

.team-card h1{
    padding: 16px;
}

/* footer section */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
    text-align: center;
}

footer p{
    color: #5A5A5D;
    line-height: 26px;
    padding: 20px;
}
footer .social{
    display: flex;
    gap: 30px;
    font-size: 1.5rem;
    margin: 10px;
}

footer hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    width: 70%;
    margin: 10px;
}

footer .copyright{
    padding: 20px 0;
    color: #131318;
}

/*! media queries */

/* for small devices */

@media screen and (max-width:600px) {
    .menu{
        display: none;
    }

    .bookings, .blog-container, .image-grid, .row1, .row2, .row3, .video-container, .newsletter-container{
        flex-direction: column;
        gap: 30px;
    }
    
    .hamburgerMenu{
        display: block;
    }
    .banner img, .overlay, .banner-content{
        height: 700px;
    }

    .banner-content h1, .blog-content h1, .destination-container h1, .testimonial-content h1, .card .package-details h1, .package-content h1, .video-content h1{
        font-size: 1.375rem;
    }

    .banner-content p, .blog-content p, .blog-content li, .destination-container>p, .testimonial-content p,.card .package-details p, .package-content p,.video-content p{ 
        font-size: 0.875rem;
        width: 80%;
    }

    .bookings{
        width: 80%;
    }

    .bookings input, .bookings select{
        width: auto;
    }

    main{
        margin: 800px auto 100px auto;
    }

    .blog-content{
        width: 100%;
    }

    .blog-container img{
        width: 90vw;
    }

    .image-grid img{
        width: 90vw;
    }

    .image-grid img{
        width: 90vw;
        height: 300px;
    }

    .row1 span>p, .row2 span>p, .row3 span>p{
        top:40%;
        right: 40%;
    }

    .row2 span:nth-child(2)>p{
        right: 35%;
        top: 35%
    }

    .row3 span>p{
        right: 35%;
    }

    .tm-container{
        width: auto;
        height: auto;
        padding: 20px;
    }

    .package-details div{
        flex-wrap: wrap;
    }

    .card img{
        width: 100%;
        height: 500px;
    }

    .card .package-details{
        width: auto;
        left: 5%;
        top: 10%;
        padding: 20px;
    }

    .video-content{
        width: 100%;
    }

    .video-container iframe{
        width: 90vw;
    }

    .newsletter-container .image{
        width: 80vw;
    }

    .newsletter-form{
        width: 90vw;
    }

    .newsletter-form form input{
        width: 100%;
    }

    .newsletter-container .image img{
        width: 100%;
    }

    .team-members{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* for medium devices */
@media screen and (max-width: 992px) and (min-width: 600px) {
    nav, .bookings, .blog-container, .image-grid, .row1, .row2, .row3, .video-container, .newsletter-container{
        flex-direction: column;
        gap: 30px;
    }

    .menu{
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner img, .overlay, .banner-content{
        height: 800px;
    }

    .banner-content p, .banner-content h1{
        width: 80%;
    }

    .bookings{
        width: 80%;
    }

    .bookings input, .bookings select{
        width: auto;
    }

    main{
        margin: 900px auto 100px auto;
    }

    .blog-content{
        width: 100%;
    }

    .image-grid img{
        width: 580px;
        height: 300px;
    }

    .row1 span>p, .row2 span>p, .row3 span>p{
        top:40%;
        right: 40%;
    }

    .row2 span:nth-child(2)>p{
        right: 35%;
        top: 35%
    }

    .row3 span>p{
        right: 35%;
    }

    .package-container p{
        width: 100%;
    }

    .card img{
        width: 100%;
        height: 500px;
    }

    .card .package-details{
        width: auto;
        left: 5%;
    }

    .video-content{
        width: 100%;
    }

    .team-members{
        grid-template-columns: repeat(2, 1fr);
    }
}

